# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017/
DATABASE_NAME=hydroai_db

# Authentication
SECRET_KEY=d79688a4930ab1250426d69af952b108de62ab080311bd1b53112d982b214ca3
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Server
FRONTEND_URL=http://localhost:3001
BACKEND_URL=http://localhost:8000
